:root {
    background-color: #93ffff;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0;
}

#content {
    width: 60ch;
    max-width: 70vw;
    word-break: break-word;
    background-color: #ffff93;
    height: 100%;
    padding: 1ch 2ch 1ch 2ch;
    border: #ffff22 solid 0.75ch;
    margin: 4ch auto 0 auto;
}

.centre {
    text-align: center;
}

section {
    display: block;
}

a {
    color: #ff22ff;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    font-style: italic;
}

.indent {
    text-indent: 4ch;
}

#pfp {
    height: 12em;
    width: 12em;
    max-width: 60vw;
    max-height: 60vw;
    image-rendering: crisp-edges;
}

footer {
    margin-top: 6ch;
    text-align: center;
    font-style: italic;
}